*{
    margin: 0;    
}
body{
    background: url(Homescreen.png) no-repeat center fixed;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}
  
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity (0.5) to make it darker or lighter */
    z-index: -1;
  }
  
  
/*Styling header (nav) section*/
.navlogo{
    display: inline;
    width: 80px;
    height: 80px;
}
.navul{
    display: inline;
    float: right;
    margin-top: 25px;
    list-style-type: none;
   }
.navdiv{
    width: 100%;
    position: fixed;
}
.navul li{
    display: inline;
    margin: 10px;    
    font-weight: bolder;
    padding: 7px;
   }
.navul li a{
    text-decoration: none;
    color: white;
}
.navul li:hover
    {
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    }
    
/* Main section begins */
.maindiv{
    text-align: center;
    height: 50%;    
    /* position: absolute;
    top: 50%;
    left: 50%; */
}
.maindiv h1{
    color: white;
}
/* Lets begin with the footer */
footer{
    
}
.footerdiv img,
.footerhandles img
{
    display: inline;
    width: 80px;
    height: 80px;
}

