*{
    margin: 0;    
}
body{
    background: url(Homescreen.png) no-repeat center fixed;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}
  
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity (0.5) to make it darker or lighter */
    z-index: -1;
  }
  
  header{
    width: 100%;
    position: sticky;
    top: 0;
    background-color: rgb(142, 142, 65);
  }
/*Styling header (nav) section*/
.navlogo{
    display: inline;
    width: 80px;
    height: 80px;
}
.navul{
    display: inline;
    list-style-type: none;
    position: absolute;
    top: 30%;
    right: 0;
   }
.navdiv img {
    display: inline;
    float: left;
}
.navul li{
    display: inline;
    margin: 10px;    
    font-weight: bolder;
    padding: 7px;
    font-family: 'Bree Serif', serif;
   }
.navul li a,
.footerlists li a{
    text-decoration: none;
    color: white;
}
.navul li:hover
    {
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    }
    
/* Main section begins */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .maindiv {
    text-align: center;
    font-family: 'Bree Serif', serif;
  }
.maindiv h1{
    color: white;
}
#button{
background-color: red;
border-radius: 10px;
border: none;
color: white;
font-weight: bold;
font-size: large;
margin: 10px;
padding: 5px 8px;
font-family: 'Bree Serif', serif;

}
/* Lets begin with the footer */

footer{
    color: white;
    font-size: small;
    font-weight: lighter;
    font-family: 'Bree Serif', serif;
}
.allfooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

footer div {
   display: inline-block;
}
.footerjldlogo{
    width: 60px;
    height: 60px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
}
.footeraddress img{
    width: 30px;
    height: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.footerhandles img{
    width: 15px;
    height: 15px;
    padding-bottom: 8px;
}
.footerlists li,
.footerhandles li{
    list-style-type: none;
        }
.footerlists li:hover{
    background-color: red;
    cursor: pointer;
}
.footerdiv p{
    max-width: 300px;
}
.footerlists{
    display: flex;
    text-align: left;
    flex-basis: 350px;
}
.footerlists ul{
    position: relative;
    right: 10%;
    line-height: 30px;
  }
  
 .footerhandles ul
{
    position: relative;
   right: 25%;
}

 span{
    display: flex;
    margin-left: 300px;
    align-items: end;
    height: 2px;
}
.allfooter + p{
    margin-bottom: 10px;
}
.footerHr{
    width: 95%;
    height: 2px;
    background-color: rgb(142, 142, 65);
    border: none;
    margin: 0 auto;
    margin-bottom: 5px;
}
/* End of footer */
/* Media Query */
@media screen and (max-width:800px) {
    body{
        background: url(Homescreen.png) no-repeat center fixed;
        /* I need a background image 800 by 1280 */
        background-size: contain;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .navul li{
        margin: 2px;    
       }
       .footerdiv p{
        display: none;
    }
   
    /* end of footer */
       /* media query */
}

@media screen and (max-width:600px) {
    body{
        background: url(Homescreen.png) no-repeat center fixed;
        /* I need a background image 800 by 1280 */
        background-size: contain;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .navul li{
        margin: 0;    
       }
       .footerdiv p{
        display: none;
    }
    .footeraddress {
        display: none;
    }
      
}

